@import url('https://fonts.googleapis.com/css?family=Montserrat');

.form-control{
    font-size: 18px;
    font-family: Montserrat
    
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 3;
}

.card-header {
  background-image: url("logo.png");

  background-position: center center;
     background-repeat: no-repeat; 
     -webkit-background-size: auto;
     -moz-background-size: auto;
     -o-background-size: auto;
     background-size: auto;
    
}

input[type=text], textarea {
    outline: none;
    border: 1px solid #DDDDDD;
  }
   
  .success input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #28a745;
    border: 1px solid #28a745;
  }
   .error input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #dc3545;
    border: 1px solid #dc3545;
  }
  .error:focus {
    box-shadow: 0 0 5px #dc3545;
    border: 1px solid #dc3545;
  }

  .success:focus {
    /* border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
    box-shadow: 0 0 5px #28a745;
    border: 1px solid #28a745;
  }
  

  .status{
    font-size: 12px;
    font-family: Montserrat;
    margin: auto;
    margin-top: 10px;
    color: #28a745;
    font-weight: bolder;
    animation: blink 2s step-start 1s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;

    /* -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s; */
  }
  @keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0.0;
    }
  }

.g-recaptcha{
    position: relative;
    /* position: relative; */
    /* display: inline; */
}

/* @media only screen and (max-width: 1125px){
    .recaptcha{
        transform:scale(0.2) !important;
        -webkit-transform:scale(0.99) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important;
    }
  
  }  */

  
/* @media only screen and (min-width: 1000px){
    .recaptcha{
        transform:scale(0.1) !important;
        -webkit-transform:scale(0.92) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important;
    }
  
  }  */
  